@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
	text-decoration:none;
}
.container{
	width: 400px;
    height: 500px;
    background: beige;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 5px 5px 15px #ccc8c8;
    margin: auto;
}
.head{
	width: 400px;
    height: 100px;
}
.h_left{
	padding: 30px;
    padding-left: 110px;
    float: left;
}
.h_left a{
	padding: 18px;
	text-shadow: 0px 0px 3px red;
}
.h_right a{
	padding: 18px;
}
.h_left .active{
	width: 60px;
    height: 3px;
    background-color: #5ecca4;
    padding-right: 6px;
}
.h_right{
	padding: 30px;
	float:right;
	padding-right: 75px;
}
.r_active{
	width: 60px;
    height: 3px;
    background: beige;
    padding-right: 6px;
}
.text{height:50px;}
span{
	padding: 20px;
    font-size: 14px;
    color: #a18787;
}
input,select{
	width: 180px;
    height: 30px;
    border: none;
    border-radius: 8px;
    outline: none;
    padding-left: 30px;
}
.t_content{
	float: left;
    width: 85px;
    padding-top: 5px;
}
.t_input{
	float:left;
}
.radio{
	width: 15px;
    height: 50px;
}
.sub{
	width:300px;
	margin:auto;
	padding-top: 30px;
}