<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
        <hibernate-configuration>
        	<session-factory>
        	  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	          <property name="connection.url">jdbc:mysql:///project</property>
	          <property name="connection.username">root</property>
	          <property name="connection.password">123456</property>
	        
	          <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	          <!-- 这个是用于指定对象映射文件的 -->
        	  <mapping resource="pdsu/bean/User.hbm.xml"/>
        	</session-factory>
        </hibernate-configuration>